button.swal2-close {
  background: var(--theme-bg) !important;
  color: #efefef !important;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 28px;
}
.speedcash-popup .swal2-html-container {
  padding: 0;
  margin: 0;
}
.speedcash-popup {
  padding: 0 !important;
  border-radius: 12px !important;
  width: 360px !important;
}
.speedcash-container {
  font-family: Arial;
  text-align: center;
}
.speedcash-header {
  font-weight: 700;
  font-size: 22px;
  padding: 15px;
  border-bottom: 2px dashed #000;
  color: #000;
  text-align: left;
}
.speedcash-teams {
  display: flex;
  text-transform: uppercase;
  color: #000;
}
.team-box {
  flex: 1;
  padding: 20px;
  border-right: 2px dashed #000;
}
.team-box:last-child {
  border-right: none;
}
.teamname {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
}
.swal2-actions {
  display: block !important;
  width: 100% !important;
  background: var(--theme-bg);
  margin: 0 auto !important;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.swal2-actions .speedcash-btn,
.swal2-actions .speedcash-btn:focus {
  background: var(--theme-bg) !important;
  border: none !important;
  outline: none;
}
.team-amt {
  color: #1aa34a;
  font-size: 22px;
  font-weight: 700;
}
.speedcash-note {
  padding: 15px;
  border-top: 2px dashed #000;
  font-size: 15px;
  color: #000;
}
.process-btn {
  width: 100%;
  background: #f3a27c;
  border: none;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
}
iframe.sr-domain-iframe {
  width: 100%;
  height: 182px;
}
.border-radius {
  border-radius: 10px;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.casino-searchbar .dropdown button h5 {
  margin: 0;
  color: #fff;
  font-size: 13px !important;
}
.casino-searchbar .dropdown button.dropdown-item {
  padding: 8px !important;
}
.casino-searchbar .dropdown button.dropdown-item:hover {
  background: #333 !important;
}
.force-change-password-popup .modal-dialog {
  padding: 0;
}
.bonus_lists .panel.card.panel-default {
  padding: 0;
  margin: 0;
  background: none;
  box-shadow: none;
}
.bonus_lists .panel.card.panel-default .panel-heading {
  padding: 0;
  border: none;
  background: none;
}
.bonus_lists .panel.card.panel-default .panel-heading button {
  padding: 0;
  text-decoration: none;
  color: var(--theme-bg);
  font-size: 13px;
}
.bonus_lists .panel.card.panel-default .panel-heading button:focus {
  box-shadow: none;
  outline: none;
}
.bonus_lists [aria-expanded="false"] button:after {
  content: "\F0140";
}
.bonus_lists [aria-expanded="false"] button:after,
.bonus_lists [aria-expanded="true"] button:after {
  font: normal normal normal 24px/1 Material Design Icons;
  top: 2px;
  position: relative;
  font-size: 14px;
}
.bonus_lists [aria-expanded="true"] button:after {
  content: "\F0143";
}
.bonus_lists .panel-body {
  padding: 5px;
  color: #ddd;
  font-size: 13px;
  text-align: justify;
  background: #222;
  border-radius: 5px;
}
.forgot_modal {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.forgot_modal .close {
  position: absolute;
  opacity: 1;
  color: #fff;
  border: none;
  right: 10px;
  top: 10px;
  background: no-repeat;
  box-shadow: none;
}
.forgot_modal .modal-content {
  height: 100%;
  padding: 0;
}
.forgot_modal .modal-body {
  padding: 0;
}
.forgot_modal iframe {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: block;
}
.sportsbook__sp {
  width: 290px !important;
  background: #1e1e1e !important;
}
.sportsbook__sp .swal2-actions .swal2-confirm {
  background: var(--theme-bg);
  font-size: 12px;
  text-transform: uppercase;
}
.sportsbook__sp .swal2-actions .swal2-cancel {
  font-size: 12px;
  text-transform: uppercase;
}
.sportsbook__sp .sportsbook_pouppui img {
  width: 150px;
  margin-bottom: 15px;
}
.sportsbook__sp .sportsbook_pouppui p {
  color: #ffffffb3;
  font-size: 0.875rem;
  margin: 0;
}
.sportsbook__sp .sportsbook_pouppui h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1.5em;
  color: var(--theme-bg);
}
.sportsbook__sp .sportsbook_pouppui span {
  font-size: 0.875rem;
  color: #ffffffb3;
}
.int-casino-slider .swiper-container {
  overflow: hidden;
}
.progress_bar {
  position: relative;
}
.progress-label {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75rem;
  color: #fff;
  font-weight: 700;
}
.progress-bar-striped {
  font-weight: 700;
  background: var(--theme-bg) !important;
}
.dn {
  display: none;
}
.text-green {
  color: green;
}
.text-red {
  color: red;
}
.casino__details iframe {
  height: 100dvh;
  width: 100%;
}
.page-item.active .page-link {
  background-color: #2c737e !important;
  border-color: #2c737e !important;
}
.typeahead-container {
  width: 100% !important;
  left: 0 !important;
  transform: none !important;
  top: 34px !important;
  border-radius: 0 !important;
  padding: 0 !important;
  height: 200px !important;
}
.typeahead-container button.active {
  background: none !important;
}
.typeahead-container button {
  border-bottom: 1px solid #eaeaea !important;
  padding: 15px !important;
  background: none !important;
  color: #000 !important;
  text-align: left !important;
  line-height: normal !important;
  border-right: none !important;
  border-left: none !important;
  border-radius: 0 !important;
}
.typeahead-container button a {
  color: #000 !important;
}
.typeahead-container button:last-child {
  border-bottom: none !important;
}
.typeahead-container button:hover {
  box-shadow: none !important;
  border-color: #ddd !important;
  background: #eee !important;
}
.cs_divs_position .typeahead-container {
  width: 30% !important;
  top: 33px !important;
  height: 150px !important;
  overflow-y: auto !important;
  border-radius: 4px !important;
  z-index: 3 !important;
}
.cs_divs_position .typeahead-container button {
  padding: 8px 11px !important;
  border: none !important;
  white-space: break-spaces;
}
.cs_divs_position .typeahead-container button h5 {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  margin: 0;
}
.btn-custom-loader-d,
.btn-custom-loader-m {
  position: relative;
}
.btn-custom-loader-m i {
  top: 7px;
  right: 0;
  left: 0;
  position: absolute;
}
.btn-custom-loader-d i {
  top: 10px;
  right: 0;
  left: 0;
  position: absolute;
}
.LiveStream-video-col .bgimage {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.competition-head h3 {
  width: 100%;
  display: block;
  background: var(--theme2-bg);
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  padding: 2px 14px;
  color: var(--secondary-color);
}
span.casino_highlight {
  font-weight: 900;
  animation: chblinker 1s infinite;
  color: #fff;
  padding: 10px;
  position: relative;
}
span.casino_text_highlight {
  position: relative;
}
@keyframes chblinker {
  0% {
    opacity: 1;
    background-color: #8bc34a;
  }
  50% {
    opacity: 0.5;
    background-color: var(--theme1-bg);
  }
  to {
    opacity: 1;
    background-color: #00bcd4;
  }
}
span.casino_highlight:after {
  content: "";
  position: absolute;
  top: -2px;
  right: -16px;
  background: url(https://cdn-icons-png.flaticon.com/512/10785/10785942.png);
  width: 27px;
  height: 27px;
  display: block;
  background-size: cover;
  z-index: 9;
}
span.casino_text_highlight:after {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  background: url(https://99hub.live/assets/img/mac88-after.png);
  width: 30px;
  height: 21px;
  display: block;
  background-size: contain;
  z-index: 9;
}
@media screen and (max-width: 767px) {
  .casino__details iframe {
    height: calc(100dvh - 60px);
  }
  .typeahead-container {
    width: 100% !important;
    left: 0 !important;
    transform: none !important;
    top: 56px !important;
    border-radius: 0 !important;
    padding: 0 !important;
    height: 300px !important;
  }
  .typeahead-container button.active {
    background: none !important;
  }
  .typeahead-container button {
    border-bottom: 1px solid #eaeaea !important;
    padding: 15px !important;
  }
  .typeahead-container button a {
    color: #000 !important;
  }
}
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}
.toast-title {
  font-weight: 700;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #fff;
}
.toast-message a:hover {
  color: #ccc;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 1px 0 #fff;
}
.toast-close-button:focus,
.toast-close-button:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: #0000;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999;
  color: #fff;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000;
  opacity: 1;
  cursor: pointer;
}
.toast-info {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOS4wNDMgOCA4IDExOS4wODMgOCAyNTZjMCAxMzYuOTk3IDExMS4wNDMgMjQ4IDI0OCAyNDhzMjQ4LTExMS4wMDMgMjQ4LTI0OEM1MDQgMTE5LjA4MyAzOTIuOTU3IDggMjU2IDh6bTAgMTEwYzIzLjE5NiAwIDQyIDE4LjgwNCA0MiA0MnMtMTguODA0IDQyLTQyIDQyLTQyLTE4LjgwNC00Mi00MiAxOC44MDQtNDIgNDItNDJ6bTU2IDI1NGMwIDYuNjI3LTUuMzczIDEyLTEyIDEyaC04OGMtNi42MjcgMC0xMi01LjM3My0xMi0xMnYtMjRjMC02LjYyNyA1LjM3My0xMiAxMi0xMmgxMnYtNjRoLTEyYy02LjYyNyAwLTEyLTUuMzczLTEyLTEydi0yNGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDY0YzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MTAwaDEyYzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MjR6Jy8+PC9zdmc+");
}
.toast-error {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOSA4IDggMTE5IDggMjU2czExMSAyNDggMjQ4IDI0OCAyNDgtMTExIDI0OC0yNDhTMzkzIDggMjU2IDh6bTEyMS42IDMxMy4xYzQuNyA0LjcgNC43IDEyLjMgMCAxN0wzMzggMzc3LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwyNTYgMzEybC02NS4xIDY1LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwxMzQuNCAzMzhjLTQuNy00LjctNC43LTEyLjMgMC0xN2w2NS42LTY1LTY1LjYtNjUuMWMtNC43LTQuNy00LjctMTIuMyAwLTE3bDM5LjYtMzkuNmM0LjctNC43IDEyLjMtNC43IDE3IDBsNjUgNjUuNyA2NS4xLTY1LjZjNC43LTQuNyAxMi4zLTQuNyAxNyAwbDM5LjYgMzkuNmM0LjcgNC43IDQuNyAxMi4zIDAgMTdMMzEyIDI1Nmw2NS42IDY1LjF6Jy8+PC9zdmc+");
}
.toast-success {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTE3My44OTggNDM5LjQwNGwtMTY2LjQtMTY2LjRjLTkuOTk3LTkuOTk3LTkuOTk3LTI2LjIwNiAwLTM2LjIwNGwzNi4yMDMtMzYuMjA0YzkuOTk3LTkuOTk4IDI2LjIwNy05Ljk5OCAzNi4yMDQgMEwxOTIgMzEyLjY5IDQzMi4wOTUgNzIuNTk2YzkuOTk3LTkuOTk3IDI2LjIwNy05Ljk5NyAzNi4yMDQgMGwzNi4yMDMgMzYuMjA0YzkuOTk3IDkuOTk3IDkuOTk3IDI2LjIwNiAwIDM2LjIwNGwtMjk0LjQgMjk0LjQwMWMtOS45OTggOS45OTctMjYuMjA3IDkuOTk3LTM2LjIwNC0uMDAxeicvPjwvc3ZnPg==");
}
.toast-warning {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1NzYgNTEyJyB3aWR0aD0nNTc2JyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTU2OS41MTcgNDQwLjAxM0M1ODcuOTc1IDQ3Mi4wMDcgNTY0LjgwNiA1MTIgNTI3Ljk0IDUxMkg0OC4wNTRjLTM2LjkzNyAwLTU5Ljk5OS00MC4wNTUtNDEuNTc3LTcxLjk4N0wyNDYuNDIzIDIzLjk4NWMxOC40NjctMzIuMDA5IDY0LjcyLTMxLjk1MSA4My4xNTQgMGwyMzkuOTQgNDE2LjAyOHpNMjg4IDM1NGMtMjUuNDA1IDAtNDYgMjAuNTk1LTQ2IDQ2czIwLjU5NSA0NiA0NiA0NiA0Ni0yMC41OTUgNDYtNDYtMjAuNTk1LTQ2LTQ2LTQ2em0tNDMuNjczLTE2NS4zNDZsNy40MTggMTM2Yy4zNDcgNi4zNjQgNS42MDkgMTEuMzQ2IDExLjk4MiAxMS4zNDZoNDguNTQ2YzYuMzczIDAgMTEuNjM1LTQuOTgyIDExLjk4Mi0xMS4zNDZsNy40MTgtMTM2Yy4zNzUtNi44NzQtNS4wOTgtMTIuNjU0LTExLjk4Mi0xMi42NTRoLTYzLjM4M2MtNi44ODQgMC0xMi4zNTYgNS43OC0xMS45ODEgMTIuNjU0eicvPjwvc3ZnPg==");
}
.toast-container.toast-bottom-center .ngx-toastr,
.toast-container.toast-top-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-bottom-full-width .ngx-toastr,
.toast-container.toast-top-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}
.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000;
  opacity: 0.4;
}
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
